body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    background-color: skyblue;
}

.site-header {
    margin-left: 85px;
    margin-top: 85px;
    width: 1080px;
    height: 128px;
    margin-bottom: 0px;
    background: #ffffff;
    background-size: cover;
    color: #000000;
    border-bottom: 1px solid #EAEAEA;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.container-left {
    display: flex;
    align-items: center;
    position: absolute;
    width: 245px;
    height: 41px;
    left: 130px;
    top: 128px;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 16px;
    width: 127px;
    height: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #000000;
}

.container-left p {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 16px;
    width: 189px;
    height: 17px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #9D9D9D;
}

.container-right {
    display: flex;
    align-items: center;
    width: 196px;
    height: 20px;
    padding-left: 821px;
    padding-top: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.picture {
    margin-left: 30px;
}

.container-right p {
    margin: 0;
    margin-left: 10px;

    color: #5C5C5C;
}

container {
    display: flex;
    position: absolute;
    width: 210px;
    height: 260px;
    margin-left: 60px;
    margin-top: 45px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 40px;

    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.move {
    box-shadow: 0 14px 30px;
    transition: transform 0.5s ease;
    transform: translate(0, -10px);
}

.remove {
    box-shadow: 0 0 0;
    transition: transform 0.5s ease;
}

.item {
    display: flex;
    width: 133px;
    height: 112px;
    margin: 20px 44px 14px 33px;
    background: url("https://ltdfoto.ru/images/image-5.png") no-repeat 0 0;
    background-size: contain;
}

like {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    margin: 0;
}

.like {
    display: flex;
    background: url("https://ltdfoto.ru/images/Group-90-1.png") no-repeat 0 0;
    background-size: contain;
}

.like-on-click {
    display: flex;
    background: url("https://ltdfoto.ru/images/Group-901c75345036d97dcc.png") no-repeat 0 0;
    background-size: contain;
}

container p {
    margin: 0;
    margin-bottom: 14px;
    width: 150px;
    height: 34px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.add-item {
    display: flex;
    width: 150px;
    height: 32px;
    justify-content: space-between;
}

.price-block {
    width: 80px;
    height: 32px;
}

.description {
    margin: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    color: #BDBDBD;
}

.price {
    margin: 0px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
}

add-button {
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.add-button {
    background-image: url("https://ltdfoto.ru/images/Group-91b5bd8cef355ee939.png");
    background-size: contain;
}

.add-button-on-click {
    background: url("https://ltdfoto.ru/images/Group-95.png");
    background-size: contain;
}

img {
    display: block;
    position: relative;
    width: 133px;
    height: 112px;
    margin-left: 33px;
    margin-top: 20px;
    border: 1px solid black;
}
